/* 
    section header
*/
header {
  color: grey;
  font-weight: 900;
  font-size: xx-large;
  height: 45px;

}
#h-dot {
  color: black;
}
#h-js{
    font-style: italic;
    color: orange;
}
/* 
    section du wrapper 
*/
#wrapper{
    height: calc(90vh - 50px);
    display: flex;
}
#wrapper>div:nth-child(1){
    flex-grow:1;
}
/* 
    section footer
*/
footer{
    text-align: center;
}