/* 
    section header
*/
header {
  color: grey;
  font-weight: 900;
  font-size: xx-large;
  height: 45px;
}
#h-dot {
  color: black;
}
#h-js {
  font-style: italic;
  color: orange;
}
/* 
    section du wrapper 
*/
#editor {
  height: calc(90vh - 50px);
  display: flex;
}
#editor > div:nth-child(1) {
  flex-grow: 1;
}
/* 
    section footer
*/
footer {
  text-align: center;
}
/* 
    form
*/
#editor {
  padding: 5px 20px;
}
.center-big {
  text-align: center;
}
.center-big input {
  width: 80%;
  height: 35px;
}
/* cols-2 */
.col-2 {
  display: flex;
  justify-content: space-between;
}
.col-2 > * {
  flex: 1;
  padding: 5px;
  text-align: center;
}
.col-2 > * input {
  width: 100px;
}
.col-2 > * button {
  width: 80%;
}
/* 
    svg
*/
#wrapper>#viewer{
    text-align: center;
}
#wrapper svg{
    height: 100%;
}