<style type="text/css">
    #thumbnail{display:flex; justify-content: space-evenly;flex-wrap: wrap;}
    #thumbnail>div{width:32vw;height:25vh;margin-bottom: 10px;}
    #thumbnail>div>svg{height:100%;width: 100%;}
</style>
    <div class="wrapper">
        <div id="thumbnail">
        <svg
        viewBox="0 0 704 396"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <image x="0" y="0" xlink:href="/img/meme/futurama.webp" />
        <text
          x="300"
          y="50"
          fill="aquamarine"
          font-size="45"
          text-decoration="underline"
          font-style="italic"
        >
          Demat breizh
        </text>
      </svg>
    </div>
</div>
